<h1>Drone Data App</h1>

<h3>Welcome</h3>

<div class="datasets">
  <h3>Available Datasets</h3>
  <ul>
    <li *ngFor="let filename of datasetFiles">
      <button (click)="getDataset(filename)">{{ filename }}</button>
    </li>
  </ul>
</div>

<div *ngFor="let filename of datasetFiles" class="drone-table">
  <h4>{{ filename }}</h4>
  <table *ngIf="datasetData[filename]">
    <thead>
      <tr>
        <th>Image ID</th>
        <th>Timestamp</th>
        <th>Altitude</th>
        <th>Battery Level</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of datasetData[filename]">
        <td>{{ data.image_id }}</td>
        <td>{{ data.timestamp }}</td>
        <td>{{ data.altitude_m }} m</td>
        <td>{{ data.battery_level_pct }}%</td>
      </tr>
    </tbody>
  </table>
</div>
